body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #212121;
}
html{
    margin: 0;
    padding: 0;
}

h1{
    padding: 0;
    margin: 0;
}
